{% load static %}

<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background:#17a673">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'pos:index' %}">
       
        <div class="sidebar-brand-text mx-3">GGI Sales</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider  mb-0">

    <!-- Nav Item - Dashboard -->
    <li class="{% if "dashboard" in active_icon %} nav-item active {% else %} nav-item {% endif %}">
        <a class="nav-link" href="{% url 'pos:index' %}">
            <i class="fa fa-tachometer"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Products Collapse Menu -->
    <li class="{% if "products" in active_icon %} nav-item active {% else %} nav-item {% endif %}">
        <a class="nav-link" href="{% url 'products:products_list' %}">
            <i class="fa fa-fw fa-tag"></i>
            <span>Products</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Customers -->
    <li class="{% if "customers" in active_icon %} nav-item active {% else %} nav-item {% endif %}">
        <a class="nav-link" href="{% url 'customers:customers_list' %}">
            <i class="fa fa-fw fa-users"></i>
            <span>Customers</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Sales -->
    <li class="{% if "sales" in active_icon %} nav-item active {% else %} nav-item {% endif %}">
        <a class="nav-link" href="{% url 'sales:sales_list' %}">
            <i class="fa fa-fw fa-cart-plus"></i>
            <span>Sales</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

     <!-- Nav Item - Expenses -->
     <li class="{% if "expenses" in active_icon %} nav-item active {% else %} nav-item {% endif %}">
        <a class="nav-link" href="{% url 'expenses:expenses_list' %}">
            <i class="fa fa-fw fa-cart-plus"></i>
            <span>Expenses</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    {% comment %} <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"> </button>
    </div> {% endcomment %}


</ul>