{% extends "pos/base.html" %}
{% load static %}
<!-- Page title  -->
{% block title %}Expenses{% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- Datatables -->

{% endblock stylesheets %}

<!-- Page Heading -->
{% block heading %}Expenses{% endblock heading %}

<!-- Page content  -->
{% block content %}

    <!--Create new sale-->
    <div class="row ml-0 mb-3">
        <a href="{% url 'expenses:expenses_add' %}">
            <button type="button" class="btn btn-success font-weight-bold">
                    <i class="fa fa-plus mr-2"></i>
                    Create new expenses
            </button>
        </a>
    </div>

    <!-- DataTable -->
    <div class="card shadow mb-12">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Expenses</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="width:3%">#</th>
                            {% comment %} <th style="width:15%">ID</th> {% endcomment %}
                            <th style="width:19%">Date</th>
                            <th style="width:12%">Category</th>
                            <th style="width:40%">Description</th>
                            <th class="text-center" style="width:10%">Total</th>
                            {% comment %} <th class="text-center" style="width:10%">Actions</th> {% endcomment %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in expenses %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            {% comment %} <td>{{s.id}}</td> {% endcomment %}
                            <td>{{s.date_added}}</td>
                            <td>{{s.Category}}</td>
                            <td>{{s.description}}</td>
                            <td class="text-right" >{{s.grand_total}}</td>
                       
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Datatables -->

<!--Datatable buttons-->


<!--Moment JS-->


<!--Datatables-->
<script>
    // Call the dataTables jQuery plugin
   
        

</script>
{% endblock javascripts %}